/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-size: 18px;
  --title-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --subtitle-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --bg-image-page: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --bg-color-page: #fff;
  --accent-color: #fff;
  --header-padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  --letter-spacing: normal;
  --font-accent: "PressStart2P", fantasy;
  --font-main: "Inter", fantasy;
  --font-size-accent: 14px;
  --lable-stroke-color: #000000;
  --contour-color: black;
  --animation-fill-color: red;
  --weight-main: 400;
}
